.advertising {
    padding-top: 90px;
    height: 500px;
    overflow: hidden;

    @include mediaTabletLarge {
        padding: 60px 0;
        height: auto;
    }

    @include mediaTabletSmall {
        overflow: visible;
    }
}

.advertising__wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;

    @include mediaTabletLarge {
        grid-template-columns: minmax(290px, 330px) auto;
    }

    @include mediaTabletSmall {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}

.advertising__text {
    margin-top: 24px;

    .advertising__title {
        font-size: 40px;
        line-height: 1;
        margin-bottom: 8px;
        color: $dark-gray;

        @include mediaTabletLarge {
            font-size: 30px;
            margin-bottom: 20px;   
        }

        @include mediaTabletSmall {
            font-size: 24px;
        }
    }
    .advertising__desc {
        line-height: 1.5;
        max-width: 350px;
        margin-bottom: 30px;

        @include mediaTabletSmall {
            max-width: 100%;
            font-size: 16px;
        }
    }

    .advertising__link {
        display: block;
        max-width: 255px;
        height: 70px;
        border: $light-blue solid 1px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $light-blue;
        font-size: 20px;
        transition: all 0.2s ease-in;
    
        &:hover {
            color: $white;
            background-color: $light-blue;
        }
    
        &:focus {
            background-color: $link-focus;
            color: $light-blue;
        }
    
        &:active {
            background-color: $link-active;
            border-color: $link-active;
            color: $white;
        }

        @include mediaTabletSmall {
            max-width: 196px;
            height: 60px;
        }

        @include mediaPhoneLarge {
            max-width: 144px;
            height: 50px;
        }
    }

    @include mediaTabletLarge {
        margin: 0;
        max-width: 330px;
    }

    @include mediaTabletSmall {
        max-width: 100%;
    }
}


.advertising__img {
    position: relative;
    transition: all 500ms cubic-bezier(0.000, 1.650, 0.480, 1.055);

    img {
        position: absolute;
        right: 0;

        @include mediaTabletLarge {
            max-width: 440px;
            left: 0;
        }

        @include mediaTabletSmall {
            max-width: 100%;
            position: sticky;
        }
    }

    &:hover {
        transform: translateY(-20%);
    }

    @include mediaTabletSmall {
        grid-row: 1;
        text-align: center;
    }
}

