.clients {
    padding: 90px 0;

    @include mediaTabletLarge {
        padding: 60px 0;
    }
}
.clients-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 30px;

    @include mediaTabletSmall {
        grid-template-columns: 1fr 1fr;
    }

    @include mediaPhoneLarge {
        grid-template-columns: 1fr;
    }
}

.client-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 135px;
    border: $client-border solid 1px;
    position: relative;
    transition: all 0.3s ease-in;

    &:hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.15);
    }

    @include mediaTabletLarge {
        height: 80px;
        padding: 0 20px;
    }

    @include mediaTabletSmall {
        height: 127px;
    }
}
