// Fonts

$font-family: "Roboto", sans-serif;

// Colors

$dark-gray: #4C5866;
$gray: #85859B;
$light-blue: #7875FE;
$light-gray: #B5B5BD;
$accent-gray: #666666;
$block-gray-bg: #EBEBEB;
$header-border: #DDDDDD;
$link-focus: #DAD9FB;
$link-active: #4946B4;
$search-border: #D1D1E5;
$white: #fff;
$item-border: #C0C0C0;
$client-border: #C4C4C4;
$copyright: #BCBCBC;